@model LearnMVC.Models.Consignment.CreateDomesticBooking
@{
    ViewBag.Title = "CreateBooking";
}

<h2 id="headings">Consignment Details</h2>
<hr />
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
@*<script src="~/Content/Site_jQuery.js"></script>*@

<h4 class="text-info">Basic Details</h4>
@using (Html.BeginForm("CreateBooking", "Consignment", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <label for="ConsigmentServerBookingID" class="control-label">Unique Server Booking ID</label>
            <input type="text" id="ConsigmentServerBookingID" class="form-control" name="ConsigmentServerBookingID" value="@ViewBag.GUID" readonly />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <label for="ConsigneePincode" class="control-label">Consignee Pincode</label>
            <input type="text" id="ConsigneePincode" class="form-control" name="ConsigneePincode" placeholder="Enter Consignee Pincode" required />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <label for="ConsignerPincode" class="control-label">Consigner Pincode</label>
            <input type="text" id="ConsignerPincode" class="form-control" name="ConsignerPincode" placeholder="Enter Consigner Pincode" required />
            <br />
            @*<a class="btn btn-info" data-target="#lookuppincode" data-toggle="modal">Lookup Pincode</a>*@
            <input type="button" class="btn btn-primary" id="btnlookuppincode" value="Lookup Pincode">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <label for="ConsigneeName" class="control-label">Consignee Name</label>
            <input type="text" id="ConsigneeName" class="form-control" name="ConsigneeName" placeholder="Enter Consignee Name" required />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <label for="ConsignerName" class="control-label">Consigner Name</label>
            <input type="text" id="ConsignerName" class="form-control" name="ConsignerName" placeholder="Enter Consginer Name" required />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <label for="ConsignmentType" class="control-label">Consignment Type</label>
            <select id="ConsignmentType" class="form-control" name="ConsignmentType">
                <option value="-1">--Select Consigment Type--</option>
                <option value="Reg">Registered Post</option>
                <option value="Speed">Speed Post</option>
                <option value="Normal">Normal Post</option>
                <option value="Delay">Delay Delivery</option>
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <textarea class=" form-control" id="ConsigneeAddress" name="ConsigneeAddress" placeholder="Enter Consignee Address" rows="5" required></textarea>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <textarea class=" form-control" id="ConsignerAddress" name="ConsignerAddress" placeholder="Enter Consigner Address" rows="5" required></textarea>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <label for="ConsigneeState" class="control-label">Consignee State</label>
            <div id="ConsigneeState" class="row">
                @if (ViewBag.StateDDL != null)
                {
                    @Html.DropDownListFor(model => model.ConsigneeStateID, ViewBag.StateDDL as SelectList, "--Select Consignee State--", new { @class = "form-control" });
                }
            </div><br />
            <label for="ConsignerState" class="control-label">Consigner State</label>
            <div id="ConsignerState" class="row">

                @*<input type="text" class="form-control" name="ConsignerState" id="ConsignerState" readonly />*@

                @if (ViewBag.StateDDL != null)
                {
                    @Html.DropDownListFor(model => model.ConsignerStateID, ViewBag.StateDDL as SelectList, "--Select Consigner State--", new { @class = "form-control" });
                }
            </div>
        </div>
    </div>
    <br />
    <hr />

    <h4 class="text-info">Office Details</h4>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            @*@Html.DropDownListFor(model => model.CircleID, ViewBag.postal_Circle_Lists_DDL as SelectList, "--Select Circle--", new { @class = "form-control" })*@
            @Html.DropDownListFor(model => model.CircleID, new SelectList(" "), "--Select Circle--", new { @class = "form-control" })
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            @*@Html.DropDownListFor(model => model.RegionID, ViewBag.postal_Region_DDL as SelectList, "--Select Region--", new { @class = "form-control" })*@
            @Html.DropDownListFor(model => model.RegionID, new SelectList(" "), "--Select Region--", new { @class = "form-control" })
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            @*@Html.DropDownListFor(model => model.DivisionID, ViewBag.divisionddl as SelectList, "--Select Division--", new { @class = "form-control" })*@
            @Html.DropDownListFor(model => model.DivisionID, new SelectList(" "), "--Select Division--", new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            @*@Html.DropDownListFor(model => model.DistrictID, ViewBag.districtddl as SelectList, "--Select District--", new { @class = "form-control" })*@
            @Html.DropDownListFor(model => model.DistrictID, new SelectList(" "), "--Select District--", new { @class = "form-control" })
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            @*@Html.DropDownListFor(model => model.OfficeID, ViewBag.officedataddl as SelectList, "--Select Office--", new { @class = "form-control" })*@
            @Html.DropDownListFor(model => model.OfficeID, new SelectList(" "), "--Select Office--", new { @class = "form-control" })
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            @*@Html.DropDownListFor(model => model.ConsignerPincode, ViewBag.pincodeDDL as SelectList, "--Select ConsignerPincode--", new { @class = "form-control" })*@
            @Html.DropDownListFor(model => model.ConsignerPincode, new SelectList(" "), "--Select Pincode--", new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            @if (ViewBag.OfficeTypeDDL != null)
            {
                @Html.DropDownListFor(model => model.OfficeTypeID, ViewBag.OfficeTypeDDL as SelectList, "--Select OfficeType--", new { @class = "form-control" })
                @*@Html.DropDownListFor(model => model.OfficeTypeID, new SelectList(" "), "--Select Office Type--", new { @class = "form-control" })*@
            }
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            @if (ViewBag.DeliveryTypeDDL != null)
            {
                @Html.DropDownListFor(model => model.DeliveryID, ViewBag.DeliveryTypeDDL as SelectList, "--Select Delivery Type--", new { @class = "form-control" })
                @*@Html.DropDownListFor(model => model.DeliveryID, new SelectList(" "), "--Select Delivery Type--", new { @class = "form-control" })*@
            }
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            @*@Html.DropDownListFor(model => model.ConsignerPincode, new SelectList(" "), "--Select ConsignerPincode--", new { @class = "form-control" })*@
        </div>
    </div>
    <br />
    <div class="row">
        <div class="text-center">
            <button class="btn btn-success" type="submit">Create Booking</button>
            <button class="btn btn-primary" type="reset">Reset Booking</button>
            @Html.ActionLink("Back", "Index", "Consignment", new { @class = "btn btn-primary" })
        </div>
    </div>
}


@using (Html.BeginForm("LookUpPincode", "Search", FormMethod.Post))
{
    <div class="modal fade" id="lookuppincode" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                    <h3 id="headings" class="modal-title">Search Pincode</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <label for="searchpin" class="control-label">Enter Pincode</label>
                            <input type="text" class="form-control" id="searchpin" placeholder="Enter Pincode" name="Pincode" required />
                        </div>
                    </div>

                    @if (ViewBag.PincodeNoResults != null || ViewBag.PincodeResults != null)
                    {
                        <hr />
                        <div class="row">
                            @if (ViewBag.PincodeNoResults != null)
                            {
                                <p class="text-danger text-center">@ViewBag.PincodeNoResults </p>
                            }
                            @if (ViewBag.PincodeResults != null)
                            {
                                <table class="table table-bordered table-hover table-responsive table-striped">
                                    <tr id="rows">
                                        <td>Pincode</td>
                                        <td>State Name</td>
                                        <td>Circle Name</td>
                                        <td>Region Name</td>
                                        <td>Division Name</td>
                                        <td>District Name</td>
                                        <td>Office Name</td>
                                        <td>Office Type</td>
                                        <td>Delivery Type</td>
                                    </tr>
                                    @foreach (var item in ViewBag.PincodeResults)
                                    {
                                        <tr>
                                            <td>@item.Pincode</td>
                                            <td>@item.StateName</td>
                                            <td>@item.CircleName</td>
                                            <td>@item.RegionName</td>
                                            <td>@item.DivisionName</td>
                                            <td>@item.DistrictName</td>
                                            <td>@item.OfficeName</td>
                                            <td>@item.OfficeTypeName</td>
                                            <td>@item.DeliveryType</td>
                                        </tr>
                                    }
                                </table>
                            }
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Search</button>
                    <button type="reset" class="btn btn-primary">Reset Form</button>
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
            $(document).ready(function () {
                $("#ConsignerStateID").change(function () {
                    $.get("/Consignment/GetCircleDataDDL", { StateID: $("#ConsignerStateID").val() }, function (data) {
                        $("#CircleID").empty();
                        $.each(data, function (index, row) {
                            $("#CircleID").append("<option value='" + row.CircleID + "'>" + row.CircleName + "</option>")
                        });
                    });
                });
            });

        //$(function () {
    $("#CircleID").change(function () {
        $.get("~/Consignment/GetRegionDataDDL", { CircleID: $("#CircleID").val() }, function (data) {
            $("#RegionID").empty();
            $.each(data, function (index, row) {
                $("#RegionID").append("<option value='" + row.RegionID + "'>" + row.RegionName + "</option>")
            });
        });
    });
            //});

        //$(function () {
    $("#RegionID").change(function () {
        $.get("~/Consignment/GetDivisionDataDDL", { RegionID: $("#RegionID").val() },
            function (data) {
                $("#DivisionID").empty();
                $.each(data, function (index, row) {
                    $("#DivisionID").append("<option value='" + row.DivisionID + "'>" + row.DivisionName + "</option>")
                });
            });
    });
            //});

       $(function () {
                $("#DivisionID").change(function () {
                    $.get("/Consignment/GetDistrictDataDDL", { DivisionID: $("#DivisionID").val() },
                        function (data) {
                            $("#DistrictID").empty();
                            $.each(data, function (index, row) {
                                $("#DistrictID").append("<option value='" + row.DistrictID + "'>" + row.DistrictName + "</option>")
                            });
                        });
                })
            });

        $(function () {
                $("#DistrictID").change(function () {
                    $.get("/Consignment/GetOfficeDataDDL", { DistrictID: $("#DistrictID").val() },
                        function (data) {
                            $("#OfficeID").empty();
                            $.each(data, function (index, row) {
                                $("#OfficeID").append("<option value='" + row.OfficeID + "'>" + row.OfficeName + "</option>")
                            });
                        });
                })
            });
</script>
    @*$(document).ready(function () {
        $("#btnlookuppincode").click(function () {
            var pincode = $('#ConsignerPincode').val();
            $.ajax({
                cache: 'false',
                type: "POST",
                data: { pincode: pincode },
                url: '@Url.Action("LookUpPincode", "Search")',
                dataType: 'json',  // add this line
                "success": function (data) {
                if (data != null) {
                var vdata = data;
                $("#ConsignerState").val(vdata[0].StateName);
                //$("#FName").val(vdata[0].FatherName);
                //$("#Phone").val(vdata[0].Phone1);
                }
                }
                });
                });
                });
                </script>*@


