@model LearnMVC.Models.ConsignmentDetail
@{
    ViewBag.Title = "UpdateConsignmentStatus";
    var result = ViewBag.Results;
}

<h2 id="headings">Update Consignment Status</h2>

<hr />
<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm("UpdateConsignmentStatus", "Consignment", FormMethod.Get))
        {
            <div class="row">
                <h4>Enter Booking ID:</h4>
                <input id="bookingid" type="text" class="form-control" name="BookingID" required placeholder="Enter Booking ID" />

                <br />
                <button type="submit" class="btn btn-success">Get Status</button>
                <button type="reset" class="btn btn-success">Reset</button>
                @*<h4 class="pull-right">@ViewBag.Rows</h4>*@
            </div>
        }
    </div>
    <div id="updateConsignment" class="col-lg-6 table-bordered">
        @if (ViewBag.Rows != null)
        {
            <h4 id="headings">Consignment Status</h4>

            using (Html.BeginForm("UpdateConsignmentStatus", "Consignment", FormMethod.Post))
            {
                <table id="updateConsignmetTable" class="table table-bordered table-responsive table-hover table-striped">
                    @foreach (var item in ViewBag.Results)
                    {
                        <tr>
                            <td id="rows">Booking ID</td>
                            <td>@item.BookingID</td>
                            <input type="hidden" name="BookingID" value=@item.BookingID readonly />
                        </tr>
                        <tr>
                            <td id="rows">Consignee Name</td>
                            <td>@item.ConsigneeName</td>
                        </tr>
                        <tr>
                            <td id="rows">Consigner Name</td>
                            <td>@item.ConsignerName</td>
                        </tr>
                        <tr>
                            <td id="rows">Destination Address</td>
                            <td>@item.DestinationAddress</td>
                        </tr>
                        <tr>
                            <td id="rows">Office Name</td>
                            <td>@item.OfficeName</td>
                        </tr>
                        <tr>
                            <td id="rows">Division</td>
                            <td>@item.DivisionName</td>
                        </tr>
                        <tr>
                            <td id="rows">Destination Pincode</td>
                            <td>@item.Pincode</td>
                        </tr>
                        if (@item.ConsignmentStatus == "Delivered" || item.ConsignmentStatus == "Shipment Received")
                        {
                            <tr>
                                <td id="rows">Consignment Status | Status Date</td>
                                <td style="background-color:green; color:white;">@item.ConsignmentStatus | @item.StatusDate </td>
                            </tr>
                        }
                        if (@item.ConsignmentStatus == "Returned")
                        {
                            <tr>
                                <td id="rows">Consignment Status | Status Date</td>
                                <td style="background-color:darkred; color:white;">@item.ConsignmentStatus | @item.StatusDate </td>
                            </tr>
                        }
                        if (@item.ConsignmentStatus == "Booked" || @item.ConsignmentStatus == "In Transit" || @item.ConsignmentStatus == "Received - Yet to Bag")
                        {
                            <tr>
                                <td id="rows">Consignment Status | Status Date</td>
                                <td style="background-color:dodgerblue; color:white;">@item.ConsignmentStatus | @item.StatusDate </td>
                            </tr>
                        }
                        if (@item.ConsignmentStatus == "Waiting" || @item.ConsignmentStatus == "Out for Delivery")
                        {
                            <tr>
                                <td id="rows">Consignment Status | Status Date</td>
                                <td style="background-color:yellow; color:black;">@item.ConsignmentStatus | @item.StatusDate </td>
                            </tr>
                        }
                        if (@item.ConsignmentStatus == "Shipment Further Connected to Hub" || @item.ConsignmentStatus == "Bagging Complete")
                        {
                            <tr>
                                <td id="rows">Consignment Status | Status Date</td>
                                <td style="background-color:darkcyan; color:black;">@item.ConsignmentStatus | @item.StatusDate </td>
                            </tr>
                        }
                        <tr>
                            <td id="rows">Update Consignment Status</td>
                            <td>
                                @Html.DropDownListFor(model => model.ConsignmentStatusID, ViewBag.ConsignmentStatus as SelectList, "--Select Consignment Status--", new { @class = "form-control" })
                            </td>
                        </tr>
                    }
                </table>
                <br />
                <div class="row text-center">
                    @foreach (var status in ViewBag.Results)
                    {
                        if (@status.ConsignmentStatus == "Delivered" || @status.ConsignmentStatus == "Returned")
                        {
                            <button class="btn btn-success disabled" type="submit"> Update Status</button>
                        }
                        else
                        {
                            <button class="btn btn-success" type="submit">Update Status</button>
                        }
                    }

                    <a class="btn btn-primary" href="~/Home/Index">Home</a>
                    <a class="btn btn-primary" href="~//Consignment/UpdateConsignmentStatus">Update Another Consignment</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#consignmenthistory">Consignment History</a>
                </div>
                <br />
            }

            using (Html.BeginForm("PrintConsignmentInvoice","Consignment"))
            {
               <input type="hidden" value="@ViewBag.BookingID" name="bookingID"/>
               <button class="btn btn-primary" type="submit">Download Invoice</button>
                   }

            if (ViewBag.ConsignmentHistory != null)
            {
                <div class="modal fade" role="dialog" id="consignmenthistory">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" type="button" data-dismiss="modal">&times;</button>
                                <h3 id="headings" class="modal-title">Consignment History</h3>
                            </div>
                            <div class="modal-body">
                                <table class="table table-condensed table-bordered text-center">
                                    <tr>
                                        <td id="rows">Booking ID:</td>
                                        <td>@ViewBag.BookingID</td>
                                    </tr>
                                </table>
                                <hr />
                                <table class="table table-bordered table-hover table-striped table-condensed table-striped text-center">
                                    <tr id="rows">
                                        <td>S.No</td>
                                        <td>Status Date</td>
                                        <td>Consignment Status</td>
                                        <td>Destination Pincode</td>
                                    </tr>
                                    @foreach (var history in ViewBag.ConsignmentHistory)
                                    {
                                        <tr>
                                            <td>@history.SortOrder</td>
                                            <td>@history.StatusDateTime</td>
                                            <td>@history.ConsignmentStatusName</td>
                                            <td>@history.DestinationPincode</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="button" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }

    </div>






