<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Learn MVC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
   

    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Learn MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse" id="menulinks">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>
                        <a href="#" data-target="#mailsend" data-toggle="modal">
                            <span class="glyphicon glyphicon-envelope"></span> Send Mail
                        </a>
                    </li>
                    @if (Session["UserID"] != null)
                    {
                        <li>@Html.ActionLink("Consignment", "Index", "Consignment")</li>
                        <li>@Html.ActionLink("Search Data", "Index", "Search")</li>
                        <li>@Html.ActionLink("Upload Center", "Upload", "Upload")</li>
                        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    }
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>@Html.ActionLink("Help", "Help", "Home")</li>
                    @if (Session["UserID"] != null)
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        @using (Html.BeginForm("MailSystem", "Home", FormMethod.Post))
        {
            <div id="mailsend" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">&times;</button>
                            <h3 id="headings" class="modal-title">Mail System</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label class="control-label " for="Receivermailid"> Receiver Mail ID</label>
                                    <input id="Receivermailid" class="form-control" type="email" placeholder="Enter Receiver Mail ID" name="Receivermailid" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <label class="control-label" for="MailBody">Message</label>
                                    <textarea id="MailBody" class="form-control" type="text" placeholder="Enter Message" name="MailBody" rows="3"></textarea>
                                </div>
                            </div>
                        </div><br />
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Send Mail</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                            <button class="btn btn-primary" type="button" data-dismiss="modal">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Learn MVC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
