<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Learn MVC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Learn MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="menulinks">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                    <li>@Html.ActionLink("Payment", "PaymentPage", "PaymentGatewayTransaction")</li>

                    @if (Session["UserID"] != null)
                    {
                        <li>@Html.ActionLink("Consignment", "Index", "Consignment")</li>
                        <li>@Html.ActionLink("Search Data", "Index", "Search")</li>
                        <li>@Html.ActionLink("Upload Center", "Upload", "Upload")</li>
                        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    }
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>@Html.ActionLink("Help", "Help", "Home")</li>
                    @if (Session["UserID"] != null)
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Learn MVC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
