
@{
    ViewBag.Title = "Dashboard";
}

<style>
    #dashboardvalue {
        color: darkred;
    }
    .well{
        background-color:floralwhite;
    }
    .panel-body{
        background-color:lightgrey;
    }
    #panelheading{
        color: black;
    }
    .panel-footer {
        background-color: #FCF8E3;
    }
</style>

<h2 id="headings">Dashboard</h2>
<hr />
@if (ViewBag.DashBoardResults != null)
{
    foreach (var dashboarddata in ViewBag.DashBoardResults)
    {
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row text-center">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <h4 id="panelheading">User ID: @Session["UserID"].ToString()</h4>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <h4 id="panelheading">Username: @Session["Username"].ToString()</h4>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <h4 id="panelheading">View Role: Super User</h4>
                    </div>
                </div>
            </div><br />
            <div class="panel-body">
                <div class="row text-center">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="well well-lg">
                            <div class="row">
                                <h4>Total Consignment Booked</h4>
                            </div>
                            <div id="dashboardvalue" class="row">
                                <h1>@dashboarddata.TotalConsignmentTillDate</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="well well-lg">
                            <h4>Total Offices</h4>
                            <div id="dashboardvalue" class="row">
                                <h1>@dashboarddata.TotalOffices</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="well well-lg">
                            <h4>Total Delivery Offices</h4>
                            <div id="dashboardvalue" class="row">
                                <h1>@dashboarddata.TotalDeliveryOffices</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="well well-lg">
                            <div class="row">
                                <h4>Total Non-Delivery Offices</h4>
                                <div id="dashboardvalue" class="row">
                                    <h1>@dashboarddata.TotalnonDeliveryOffices</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="well well-lg">
                            <h4>Total Branch Offices</h4>
                            <div id="dashboardvalue" class="row">
                                <h1>@dashboarddata.TotalBranchOffices</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="well well-lg">
                            <h4>Total Sub-Branch Offices</h4>
                            <div id="dashboardvalue" class="row">
                                <h1>@dashboarddata.TotalSubBranchOffices</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="well well-lg">
                            <div class="row">
                                <h4>Total Head Offices</h4>
                                <div id="dashboardvalue" class="row">
                                    <h1>@dashboarddata.TotalHeadOffices</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="well well-lg">
                            <h4>Total Annual Turnover</h4>
                            <div id="dashboardvalue" class="row">
                                <h1>@dashboarddata.AnnualTurnOver</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="well well-lg">
                            <h4>Total Maintenance Cost</h4>
                            <div id="dashboardvalue" class="row">
                                <h1>@dashboarddata.MaintainenceCost</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="panel-footer">
                <p><strong>Please Note:</strong> Total Annual Turnover and Total Maintenance Cost is only visible to the application Super User.</p>
            </div>
        </div>
    }
}

